.index-page {
  width: 320px;
  margin: auto;
    font-family: Myriad Pro, sans-serif;
    text-align: center;
}
.page-header {
  background-image: url("../img/header-background-mobile320x449.jpg");
}
.page-header__wrapper {
    background-color: #b2b2b2;
    opacity: 0.3;
}
.page-header .page-header__logo-wrap {
  display: inline-block;
  min-height: 65px;
  width: 120px;
}
.page-header .page-header__logo {
  float: left;
  margin: 20px;
  width: 74px;
}
.page-header__nav-wrap {
  float: right;
  width: 50px;
  margin: 20px;
}
.page-header__nav-wrap .main-nav__list {
  display: none;
}
.header-promo__header {
    color: white;
    font-size: 24px;
    font-weight: 100;
    padding: 0 60px;
}
.download__wrapper {
    background-color: #1d2631;
    color: white;
    padding-top: 28px;
}
.download__btn {
    display: block;
    border: solid white 5px;
    border-radius: 30px;
    text-decoration: none;
    color: white;
    padding: 15px;
    margin: 0px 20px;
    font-size: 18px;
}
.download__logos {
    margin: 32px 57px;
}
.download__logos img {
    margin-right: 33px;
}
.download__logos :last-child {
    margin-right: 0;
}
.download__text {
    margin: 0 45px;
    font-size: 14px;
    padding-bottom: 37px;
}
.reasons__header {
    text-align: center;
    font-size: 24px;
    font-weight: 100;
    margin: 50px 60px 0 60px;
}
.reasons__wrap {
    background-image: url(../img/grey-background-320x828.jpg);
    padding-top: 40px;
}
.reasons__item {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}
.reasons__img {
    margin: auto;
    width: 170px;
    height: 261px;
    background-image: url(../img/iphone-case-1@1x.png);
}
.slider-reviews {
    padding: 50px 20px;
}
.price {
    background-image: url(../img/grey-background2-320x505.jpg);
    padding-top: 90px;
}
.price__table {
    margin: auto;
    padding-bottom: 90px;
    text-transform: uppercase;
}
.price__table tr:first-child {
    background-color: #283645;
    color: white;
    display: block;
    padding: 30px 100px;
    text-align: center;
}
.price__table tr {
    text-align: left;
    padding: 20px;
    display: block;
    color: #283645;
    border: solid white 2px;
    border-collapse: collapse;
}
.price__table tr:nth-child(2), .price__table tr:nth-child(3) {
    background: url(../img/yes.svg) no-repeat 230px 18px;
}
.price__table tr:last-child {
    background: url(../img/no.svg) no-repeat 230px 18px;
}
.page-footer__contacts {
    font-size: 24px;
}
.page-footer__contact-header {
    padding: 50px;
    font-weight: 100;
    font-size: 24px;
    color: #283645;
}
.page-footer__contact-text {
    font-size: 18px;
}
